<!doctype html>
<html lang="en">
<head>
    <link rel="canonical" href="http://adastra.icu/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="name" content="Ad Astra - незалежний аналітичний центр">
    <meta name="title" content="Ad Astra - незалежний аналітичний центр">
    <meta name="description" content="Ми публікуваємо фахові статті з міжнародної політики за регіонально-тематичною класифікацією.">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="client_app.js"></script>
    <link rel="stylesheet" href="stylesheets/main_page.css">
    <link rel="stylesheet" href="stylesheets/menu.css">
    <link rel="shortcut icon" href="images/label/logo.ico" type="image/x-icon">
    <meta charset="utf-8">
    <title>Ad Astra</title>

    <meta name="robots" content="noindex,nofollow">
    <meta property="og:url"           content="https://adastra.icu/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Ad Astra" />
    <meta property="og:description"   content="Adastra" />
    <meta property="og:image"         content="https://adastra.icu/images/label/logo.png" />

</head>
<body>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" 
src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.2&appId=215299406056993&autoLogAppEvents=1"></script>

    <nav class="navbar sticky-top navbar-default" id="menu">
        <div class="container">
            <div class="navbar-header">
                <div id="menu-icon" class="burger img-responsive navbar-toggle" data-toggle="collapse"
                    data-target="#nav-bar-collapse-1">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <h1 id="motto">АНАЛІТИЧНИЙ ЦЕНТР AD ASTRA</h1>
                <a href="/"><img class="logo" src="/images/label/logo.png"></a>
            </div>
            <div class="container" id="nav-bar-collapse-1">
                <div class="row">
                    <div class="col-3">
                        <div class="section-title">
                            <p>Теми</p>
                            <hr>
                        </div>
                        <ul class="nav-links">
                            <li><a href="topic?name=астрополітика">Астрополітика</a></li>
                            <li><a href="topic?name=тероризм">Тероризм</a></li>
                            <li><a href="topic?name=кібербезпека">Кібербезпека</a></li>
                            <li><a href="topic?name=права людини">Міжнародне право</a></li>
                            <li><a href="topic?name=міжнародні організації">Міжнародні організації</a></li>
                            <li><a href="topic?name=боротьба за гегемонію">Боротьба за гегемонію</a></li>
                            <li><a href="topic?name=миротворчі місії">Миротворчі місії</a></li>
                            <li><a href="topic?name=енергетична дипломатія">Енергетична дипломатія</a></li>
                        </ul>
                    </div>

                    <div class="col-3">
                        <div class="section-title">
                            <p>Регіони</p>
                            <hr>
                        </div>
                        <ul class="nav-links">
                            <li><a href="region?name=америка">Америка</a></li>
                            <li><a href="region?name=азія">Азія</a></li>
                            <li><a href="region?name=європа">Європа</a></li>
                            <li><a href="region?name=африка">Африка</a></li>
                            <li><a href="region?name=близький схід">Близький Схід</a></li>
                            <li><a href="region?name=океанія">Океанія</a></li>
                            <li><a href="region?name=антарктида">Арктика і Антарктида</a></li>
                        </ul>
                    </div>

                    <div class="col-3 spec-projects">
                        <div class="section-title">
                            <p>Спецпроекти</p>
                            <hr>
                        </div>
                        <ul class="nav-links">
                            <li><a href="spec-project?name=one-belt-one-way">Один Пояс, Один Шлях</a></li>

                        </ul>
                    </div>

                    <div class="col-3">
                        <div class="section-title">
                            <p>Про Ad Astra</p>
                            <hr>
                        </div>
                        <ul class="nav-links">
                            <li><a href="statut">Статут</a></li>
                            <li><a href="team">Авторський колектив</a></li>
                            <li><a href="contacts">Контакти</a></li>
                        </ul>
                        <div class="social-media">
                            <a target="_blank" href="https://www.facebook.com/AdAstra.analytics/">
                                <img src="/images/label/facebook.png" alt="">
                            </a>
                            <a target="_blank" href="https://www.instagram.com/ad_astra.analytics/?utm_source=ig_profile_share&igshid=1uhooglwrmx1m">
                                <img src="/images/label/instagram.jpg" alt="">
                            </a>
                            <a target="_blank" href="https://t.me/Ad_Astra_analytics">
                                <img src="/images/label/telegram.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<!--<div class="fb-share-button" data-href="https://adastra.icu/" data-layout="button" 
data-size="large"><a target="_blank"
 href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fadastra.icu%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Поделиться</a></div>-->
    {{{ body }}}
</body>
</html>
