<link rel="stylesheet" href="/stylesheets/contacts.css">
<link rel="stylesheet" href="/stylesheets/aboutus.css">

<div id="main">
    <h1 id="contact-title">ПРО НАС</h1>
    <div>
        <h2>Преамбула</h2>
        <p>Усвідомлюючи недостатність кваліфікованих аналітичних матеріалів з тематики міжнародних відносин, розроблених в Україні;<br>
            Посилаючись на багаточисельні звернення європейських та євроатлантичних лідерів до української політичної еліти повірити в молодь та сприяти збільшенню можливостей її залучення до процесів політичного життя;<br>
            Рухаючись в авангарді світової тенденції динамічного зростання кількості аналітичних центрів, заснованих саме спільнотами зацікавлених студентів, які прагнуть не обмежувати простір для артикуляції та обґрунтування своїх думок з академічних дисциплін виключно семінарськими заняттями та науковими роботами;<br>
            Вважаючи, що думки студентів-міжнародників з актуальних питань світової політики мають незаперечну перевагу у вигляді незаангажованості поглядів через приналежність до політичних партій, урядових установ чи інших організацій з чітко визначеною політичною лінією;<br>
            Впевнені у тому, що бекграунд знань з міжнародної політики, отриманий за період інтенсивного навчання у профільному ВНЗ, є переконливим для формування власної комплексної точки зору та її компетентної аргументації;<br>
            Ми, студенти-міжнародники, заснували незалежний аналітичний центр, який публікуватиме аналітичні матеріали наших експертів, котрі мають визначені сфери своїх дослідницьких інтересів у царині глобальної політики за регіонально-тематичною класифікацією.
        </p>
        <ul>
            <p class="title-of-about">Наші цілі</p>
            <li>розширити поле міжнародно-політичних досліджень в українському інформаційному просторі</li>
            <li>об’єктивно висвітлювали події та процеси глобальної політики у різних регіонах світу, яким приділяється недостатньо уваги вітчизняними ЗМІ й аналітичними центрами</li>
            <li>підвищити рівень обізнаності суспільства у сфері міжнародних відносин</li>
            <li>створювати якісний матеріал, що надаватиме об’єктивну аналітику регіональних подій, які мають визначальний вплив на систему міжнародних відносин та світовий порядок загалом</li>
            <li>сприяти ефективному здійсненню зовнішньої політики України на зламі систем міжнародних відносин шляхом досліджень та критичного аналізу процесів та явищ міжнародного середовища</li>
        </ul>

        <ul>
            <p class="title-of-about">Наші завдання</p>
            <li>увійти в топ-20 аналітичних центрів України і топ-100 Східної Європи</li>
            <li>створити потужну аналітичну платформу, відкриту для публікацій молодих перспективних науковців у сфері міжнародних відносин</li>
            <li>пропонувати шляхи вирішення міжнародно-політичних проблем та дієві методи реагування на глобальні виклики сучасності</li>
            <li>організовувати конференції, панельні дискусії та круглі столи із залученням незалежних експертів, представників органів державної влади та громадського сектору</li>
        </ul>
    </div>
</div>
