img{
  max-width: 70%;
}

#news {
  background-color: rgb(249,249,249);
}

.article-text a{
  opacity: 0.5;
  color: orange;
  text-transform: none;
  text-decoration: underline;
}

.article-text a:hover{
  opacity: 1;
}

.article-title{
  font-size: 2.5vw;
  margin-bottom: 2%;
}

.article-title-photo{
  position: relative;
  float:right;
  width: 45%;
}

.article-title-photo img{
  float: right;
  width: 85%;
  max-width: 85%;
  margin-bottom: 1%;
}

.article-title-photo a{
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'Haarlemmer W04','Georgia',serif;
  background: rgba(0,0,0,0.8);
  border-top: 5px solid rgb(0, 0, 255);;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  opacity: .8;
  padding: 3px 20px;
}

.article-title-photo-resource{
    position: absolute;
    right: 0;
    font-family: 'Haarlemmer W04','Georgia',serif;
    /*background: rgba(0,0,0,0.8);*/
    /*border-top: 5px solid rgb(0, 0, 255);;*/
    color: #ffffff;
    text-decoration: none;

    font-size: 11px;
    opacity: .8;
    padding: 0px 10px;
    bottom: 2%;
}

.article-author, .article-date{
  font-weight: 600;
  font-style: italic;
}

.article-date{
  text-align: right;
}

hr{
  margin: 0 0 3% 0;
  clear: both;
}

@media screen and (max-width: 720px){

  .article-title{
    font-size: 4.3vw;
    font-weight: 700;
    margin-bottom: 5%;
  }

  .article-title-photo{
    position: center;
    margin: auto;
    width: 100%;
  }

  .article-title-photo img{
    width: 100%;
    float: none;
    margin: auto;
  }

  .article-title-photo a {
    left: 0;
    right: unset;
  }
}
