img{
  max-width: 70%;
}

#news-title {
  background-color: rgb(249,249,249);
}

.news-title-photo{
  position: relative;
  float:right;
  width: 45%;
}

.news-title-photo img{
  float: right;
  width: 85%;
  max-width: 85%;
}

.news-title-photo a{
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Haarlemmer W04','Georgia',serif;
  background: rgba(0,0,0,0.8);
  border-top: 5px solid #f25d27;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  opacity: .8;
  padding: 3px 20px;
}

.fb-share-button{
  margin-bottom: 3%;
}
