.title-of-about{
  text-align: center;
  font-weight: 600;
  font-size: 2vw;
}

#title-photo{
  width: 70%;
  margin: auto;
  display: block;
  margin-bottom: 2%;
}

#contact-title{
  text-align: center;
  font-size: 3vw;
  color: darkgoldenrod;
  margin-bottom: 5%;
  margin-top: 2%;
}
