
.logo-pic{
  width: 100%;
  height: auto;
}

.news{
  margin: 2% 2%;
}

#topic-title{
  position: relative;
}

#topic-title-pic{
  width: 70%;
  margin-left: 15%;
  margin-bottom: 6%;
}

#topic-title span{
  position: absolute;
  left: 15%;
  top: 0;
  font-size: 2vw;
  /*color: white;*/
  text-transform: uppercase;
  font-family: 'Haarlemmer W04','Georgia',serif;
  /*background: rgba(0,0,0,0.8);*/
  background: rgba(255,255,255,0.8);
  border-top: 5px solid rgb(0, 0, 255);
  color: black;
  opacity: .8;
  padding: 3px 20px;
}

.col-sm-10{
  width: 90%;
  margin-left: 5%;
}


.row{
  width: 100%;
}

.col-lg-5 .photo{
  /*width: 100%!important;*/
}


.col-sm-10 .photo{
  display: block;
  margin: auto;
  /*width: 60%;*/
}

.row h1{
  text-align: center;
  font-size: 1.9vw;
}

.row #description{
  font-size: 1.1vw;
}

.row #author{
  font-size: 1.0vw;
}

#external-link{
  width: 5%;
}

@media screen and (max-width: 920px){

  .news{
    margin: auto;
    margin-bottom: 4%;
  }

  .row h1{
    text-align: center;
    font-size: 3vw;
  }

  .row #description{
    font-size: 2.0vw;
  }

  .row #author{
    font-size: 1.9vw;
  }

  .photo a.href-on-photo{
    top:0;
  }
}